#title {
    background-color: #ff4c68;
    min-height: 85vh;
    overflow: hidden;
}

h2 {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: bolder;
}

.navbar-brand {
    font-size: 4.5rem;
    font-weight: bolder;
    font-family: 'Montserrat-black', sans-serif;

}

.row-title {
    padding-left: 15%;
}

.row-title h1 {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
    color: white;
    font-weight: bolder;
    padding-top: 6rem;
}

.container-fluid {
    padding: 1% 15%;
}

.buttons {
    margin: 0 1rem 0 0;
    padding-top: 2rem;
}

.left-button {
    margin: 0 1rem 0 0;
}


.btn img {
    width:1rem;
    margin-left: 0.4rem;
    margin-bottom: 0.2rem;
}


.img-smartphone {
    transform: rotate(20deg);
    height: 40rem;
    padding-top: 6rem;
    position: static;
    right: 29%;
}

.nav-item {
    margin: 0 0 0 3rem;
}
.col-lg-4 img {
    width: 5rem;
}

.col-lg-4 img:hover {
    background-color: rgb(233, 84, 47, 0.2);
    border-radius: 50%;
}

#features {
    padding: 12rem;
    padding-bottom: 5rem;
    position: relative;
    text-align: center;
    z-index: 1;
    background-color: white;
}

.features-row {
    padding: 0;
}

.col-lg-4 {
    margin-bottom: 5rem;
}

/* Testimonial Section */

#testimonials {
    padding: 7% 15% 0;
    text-align: center;
    background-color: #ef8172;
    color: white;
    
}

.testimonial-image {
    border-radius: 50%;
    width: 5rem;
    margin: 2rem 0;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 5%;
}

#press img {
    width: 15%;
    margin: 1rem 1rem 2.5rem;
}

#pricing {
    padding: 6rem 12rem 12rem 12rem;
    padding-bottom: 5rem;
    position: relative;
    text-align: center;
}

.card-body {
    border: 1px solid black;
    border-radius: 2%;
    margin: 1.5rem 0;
}

#pricing-row {
    padding: 0;
}

.pricing-column {
    padding: 3% 2%;
}

.hidden {
    visibility: hidden;
}

#cta {
    background-color: #ff4c68;
    min-height: 20vh;
    padding: 5% 15% 10%;
}

#cta h3 {
    font-size: 3.5rem;
    line-height: 1.25;
    font-weight: bolder;
    color: #FFF;
    text-align: center;
    padding: 3% 15%;
}

.btn-footer {
    position: absolute;
    left: 50%;
    margin: 0;
    transform: translate(-50%);
}

.btn-footer1 {
    margin: 0 1rem;
}

#footer {
    background-color: #FFF;
    min-height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.footer-img img {
    width: 1.5rem;
    margin: 0.5rem;
}

.footer-p {
    margin-top: 0.5rem;
}


/* Normal Phone and Tablet sizes below */



  @media only screen and (min-device-width: 200px) and (max-device-width: 800px) {
    #title {
        min-height: 50vh;
        text-align: center;
    }

    .nav-link {
        font-size: 3rem;
    }

    .navbar-toggler-icon {
        width: 3rem;
    }

    .card-body {
        font-size: 2rem;
    }
    
    .card-body h5 {
        font-size: 2rem;
    }

    .card-body h2{
        font-size: 4rem;
    }

    .img-smartphone {
        transform: rotate(0deg);
        height: 45rem;
        padding-top: 6rem;
        position: static;
        left: 38%;
        
    }
    .row-title {
        padding-left: 0;
    }

    .feature-img {
        margin: 5rem 0;
    }

    .feature-img img {
        width: 15rem;
    }

    .feature-img h3 {
        font-size: 4rem;
    }

    .feature-img p {
        font-size: 2rem;
    }
  }
